.modal {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    box-sizing: border-box;
    background: white;
    border-radius: 30px;
}


.modal_content {
	background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

